## Importing Libraries

In [34]:
import pandas as pd
import numpy as np

## 1- Read CSV File

In [45]:
df = pd.read_csv('insurance.csv')
df.head()

    age     sex     bmi  children smoker     region      charges
0  19.0  female  27.900       0.0    yes  southwest  16884.92400
1  18.0    male  33.770       1.0     no  southeast   1725.55230
2  28.0    male  33.000       3.0     no  southeast   4449.46200
3  33.0    male  22.705       0.0     no  northwest  21984.47061
4  32.0    male  28.880       0.0     no  northwest   3866.85520

## 2- Applying ststistical method on the data such aS mean , Value_counts

In [46]:
#Most Frequant values of Age
df['sex'].value_counts()

sex
male      676
female    662
Name: count, dtype: int64

In [47]:
Age = df['age']

In [64]:
# Avatge ages in data
Age.mean()

39.14917541229385

39.14917541229385

## 3- Filling the missing data

In [49]:
data.isna().sum()

age         4
sex         0
bmi         5
children    2
smoker      0
region      0
charges     0
dtype: int64

In [56]:
df['age'] = df['age'].fillna(np.mean(df['age']))

In [57]:
df['age'].isna().sum()

0

In [59]:
df['bmi'] = df['bmi'].fillna(np.mean(df['bmi']))

In [60]:
df['bmi'].isna().sum()

0

In [61]:
df['children'] = df['children'].fillna(0)

In [62]:
df['children'].isna().sum()

0

In [63]:
df.isna().sum()

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
charges     0
dtype: int64

## 4- Implement Encoding Function of categroical data

In [66]:
def encoding (sex):
    if sex == 'male':
        return 1
    else :
        return 0

In [68]:
df['sex']=df['sex'].apply(encoding)

In [69]:
df['sex'].head()

0    0
1    1
2    1
3    1
4    1
Name: sex, dtype: int64